h1,h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}

body{
    background-color: #F0F0F0;
}

.abel{
    font-family: 'Abel', sans-serif;

}

.lgraycircle{
    background-color: #F0F0F0;
}

.dgraycircle{
    background-color: #E6E6E6;
}
.circleBase {
    border: 7px solid white;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    text-align: center;
    margin: 0 5px 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 105px;
    height: 105px;
    font-family: 'Anton', sans-serif;
}


.circleBase p {
    margin: 0;
    color: white;
}
.redCircle {
    background-color: #E6563B;
}
.yellowCircle {
    background-color: #DEA03D;
}
.greenCircle {
     background-color: #7cb06c;
}

.blueCircle {
      background-color: #00ABA9;
  }

.circleBase2 {
    padding-top: 16px;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    text-align: center;
    margin: 0 5px 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-family: 'Anton', sans-serif;
    font-size: 10px;

}

.photoBorder{
    border: 15px solid #E6E6E6;
    border-radius: 3%;
}

@media screen and (max-width: 575px) {
    .mediaQ {
        display: none;
    }
}

@media screen and (min-width: 576px) {
    .mediaQ1 {

    }
}

@media screen and (min-width: 768px) {
    .mediaQ2 {

    }
}

@media screen and (min-width: 992px) {
    .mediaQ3 {
    }
}